.main-navigation__item {
  box-shadow: 0 1px 0 0 #ececec;

  &--new-products,
  &--sale,
  &--delivery {
    display: none;
  }
}

.main-navigation__logo {
  display: block;
  padding: 22px 118px 22px 116px;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.main-navigation__link {
  display: block;
  padding: 27px 30px 27px 76px;

  font-size: 17px;
  font-weight: 700;
  color: $text-black;

  &--search {
    display: flex;
    align-items: center;
    padding-left: 30px;

    &:hover .main-navigation__search-icon,
    &:focus .main-navigation__search-icon {
      fill: $aqua-marine-light;
      opacity: 1;
    }
  }

  &--cart {
    display: flex;
    align-items: center;
    padding-left: 29px;

    &:hover .main-navigation__cart-icon,
    &:focus .main-navigation__cart-icon {
      fill: $aqua-marine-light;
      opacity: 1;
    }
  }

  &[href]:hover,
  &[href]:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.main-navigation__search-icon {
  fill: #231F20;

  padding-right: 26px;

  opacity: 0.2;
}

.main-navigation__cart-icon {
  fill: #231F20;

  padding-right: 25px;

  opacity: 0.2;
}

@media (max-width: $mobile-width-only) {
  .main-navigation {
    position: relative;

    &--closed {
      .main-navigation__button {
        position: absolute;
        top: 32px;
        right: 31px;

        width: 20px;
        height: 14px;

        background-color: transparent;
        background-image: url("../img/icon-menu-open.svg");
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        cursor: pointer;
      }

      .main-navigation__item {
        &--catalog,
        &--form,
        &--search,
        &--cart {
          display: none;
        }
      }
    }

    &--opened {
      .main-navigation__button {
        position: absolute;
        top: 29px;
        right: 30px;

        width: 21px;
        height: 20px;

        background-color: transparent;
        background-image: url("../img/icon-menu-close.svg");
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        cursor: pointer;
      }

      .main-navigation__item {
        &--catalog,
        &--form,
        &--search,
        &--cart {
          display: block;
        }
      }
    }

    &--no-js {
      position: static;

      .main-navigation__button {
        display: none;
      }

      .main-navigation__item {
        &--catalog,
        &--form,
        &--search,
        &--cart {
          display: block;
        }
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .main-navigation__list {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .main-navigation__item {
    box-shadow: none;

    &--logo {
      margin-right: 243px;
      margin-left: -1px;
    }

    &--catalog {
      order: 1;
      margin-right: 37px;
    }

    &--form {
      order: 1;
      margin-right: auto;
    }

    &--search {
      position: relative;

      margin-right: auto;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;

        width: 1px;
        height: 100%;

        background-color: #ececec;
      }

      &::before {
        left: -34px;
      }

      &::after {
        right: -6px;
      }
    }

    &--delivery {
      display: block;
      order: 2;
    }
  }

  .main-navigation__logo {
    padding: 22px 0 21px 0;
  }

  .main-navigation__link {
    padding: 0;
    font-size: 15px;

    &--cart {
      padding: 32px 0;
      font-size: 17px;
    }

    &--delivery {
      padding: 17px 0;
      font-weight: 400;
    }

    &--search {
      padding: 33px 0 31px 0;
      font-size: 0;
    }

    &--catalog {
      padding: 17px 0;
    }

    &--form {
      padding: 17px 0;
    }
  }

  .main-navigation__cart-icon {
    padding-right: 30px;
  }

  .main-navigation__button {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__list {
    width: 1050px;
  }

  .main-navigation__item {
    &--logo {
      margin-right: 135px;
    }

    &--catalog {
      position: relative;

      order: -1;
      margin-right: 71px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -37px;

        width: 1px;
        height: 100%;

        background-color: #ececec;
      }
    }

    &--form {
      order: -1;
      margin-right: 76px;
    }

    &--search {
      margin: 0;

      &::before {
        left: -33px;
      }

      &::after {
        right: -7px;
      }
    }

    &--cart {
      margin-left: auto;
    }

    &--new-products {
      display: block;
      margin-right: 61px;
    }

    &--sale {
      display: block;
      margin-right: auto;
    }
  }

  .main-navigation__logo {
    padding: 9px 0 6px 0;
  }

  .main-navigation__link {
    font-size: 17px;

    &--catalog {
      padding: 31px 0 32px 0;
    }

    &--form {
      padding: 31px 0 32px 0;
    }

    &--search {
      font-size: 0;
    }

    &--new-products,
    &--sale,
    &--delivery {
      padding: 18px 0;
      font-size: 15px;
    }
  }

  .main-navigation__cart-icon {
    padding-right: 32px;
  }
}
