.page-footer {
  width: 100%;
  background-color: $bg-lightgrey;

  .page-footer__social {
    margin-left: 57px;
  }
}

.page-footer__wrapper {
  width: 260px;
  margin: 0 auto;
  padding: 25px 30px 23px;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  margin-left: 38px;
}

@media (max-width: $mobile-width-only) {
  .page-footer__wrapper {
    position: relative;

    &::after {
      content: "";
      position: absolute;

      top: 80px;
      left: 30px;

      width: 260px;
      height: 1px;

      background-color: #e5e5e5;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    align-items: flex-start;
    width: 668px;
    padding: 51px 50px 52px;

    .page-footer__social {
      margin: 0;
      padding-top: 6px;
    }
  }

  .page-footer__logo {
    display: block;
    margin-right: 159px;

    cursor: pointer;

    &:hover .logo__image-footer,
    &:focus .logo__image-footer {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer__copyright {
    margin: 0;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1048px;
    padding-left: 51px;
    padding-right: 51px;
  }

  .page-footer__logo {
    margin-right: 349px;
  }
}
