.page {
  &--index {
    .page__header {
      margin-bottom: 27px;
    }

    .page__title {
      padding: 71px 30px 122px;
    }
  }

  &--catalog {
    width: 100%;

    .page__main {
      display: block;
      width: 260px;
      margin: 0 auto;
      padding: 0 30px;
    }
  }

  &--form {
    .page__main {
      display: block;
    }

    .page__header {
      margin-bottom: 22px;
    }
  }
}

.page__header {
  margin-bottom: 30px;
}

.page__title-wrapper {
  display: block;
  background-color: $bg-lightgrey;
}

.page__title {
  display: block;
  width: 260px;
  margin: 0 auto;
  padding: 71px 30px 76px;

  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: $text-black;

  &--text-darkbrown {
    @media (max-width: $mobile-width-only) {
      color: #010000;
    }
  }
}

@media (min-width: $tablet-width) {
  .page {
    &--index {
      .page__header {
        margin-bottom: 46px;
      }

      .page__title {
        position: static;

        padding: 154px 50px 372px;

        &::after {
          display: none;
        }
      }
    }

    &--catalog {
      .page__main {
        width: 668px;
        padding: 0 50px;
      }

      .page__title {
        padding: 95px 50px 78px;
      }

      .page__header {
        margin-bottom: 81px;
      }
    }

    &--form {
      .page-header {
        margin-bottom: 74px;
      }

      .page__main {
        padding: 0;
      }
    }
  }

  .page__title-wrapper {
    position: relative;
    z-index: -1;

    margin-top: -58px;

    box-shadow: 0 -1px 0 0 #dfdfdf;
  }

  .page__title {
    position: relative;
    z-index: -1;

    width: 668px;
    padding: 93px 50px 80px;

    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";
      position: absolute;
      bottom: -14px;
      left: 0;

      width: 768px;
      height: 24px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
    }
  }
}

@media (min-width: $desktop-width) {
  .page {
    &--index {
      .page__header {
        margin-bottom: 74px;
      }

      .page__title {
        width: 700px;
        padding: 153px 50px 359px;
      }

      .copyright {
        padding-top: 3px;
      }
    }

    &--catalog {
      .page__main {
        width: 1050px;
      }

      .page__title {
        padding: 93px 50px 101px;
      }

      .page__header {
        margin-bottom: 131px;
      }

      .copyright {
        padding-top: 3px;
      }
    }

    &--form {
      .page__header {
        margin-bottom: 124px;
      }
    }
  }

  .page__title-wrapper {
    margin-top: -59px;
  }

  .page__title {
    width: 1050px;
    padding-bottom: 101px;

    font-size: 53px;
    line-height: 57px;

    &::after {
      left: 0;
      bottom: -20px;

      width: 1150px;
      height: 34px;

      background-size: 1150px 34px;
      background-position: 0 0;
    }
  }

  .page__main {
    .contacts {
      position: relative;
      margin-bottom: 105px;
    }
  }
}
