.social {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 190px;
  padding-bottom: 20px;
}

.social__item {
  margin-right: 40px;

  &:first-child {
    margin-right: 41px;
  }
}

.social__link {
  &:hover .social__icon,
  &:focus .social__icon {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon {
  fill: #231f20;

  &--instagram,
  &--twitter {
    padding-top: 5px;
  }
}

@media (min-width: $tablet-width) {
  .social {
    padding: 0;
  }

  .social__icon {
    &--instagram,
    &--twitter {
      padding-top: 6px;
    }
  }
}
